extends ./../components/app.pug

block head 
  title #{DefaultTitle} | Makin Tahu Indonesia
  link(rel='stylesheet', href='./styles/main.min.css')

block content
  div.text-center.my-4
    a(href='https://4slicing.com/' target='_blank' id='logo')
      img(src='./images/4slicing-logo-blue.png' height='40' alt='4Slicing')
      