- var DefaultTitle = 'Good News From Indonesia'

doctype html
html(lang="en")                                           
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    meta(name="description" content="Good News From Indonesia")
    meta(name="author" content="Good News From Indonesia")
    meta(name="keywords" content="HTML, PUG, SCSS, CSS, XHTML, JavaScript")
    meta(name="theme-color", content="#225F90")
    block head
  
  body
    main
      block content
    
      block InjectBody
  
    block scripts
